<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>天文科普网</title>
<link href="./public/css/xwttb.css" rel="stylesheet">

</head>

<body>
<!--顶部-->
<table background="./public/image/tianwen_01.png" height="246" width="100%">
	<td id="ding1"><a href="/enroll" id="ding2">注册</a>&nbsp;&#124;&nbsp;<a href="/login" id="ding2">登录</a></td>
	</table>
	
	<!--导航-->
	<div id="divdh">
		<a href="/" class="dh">首页</a>
		<a href="/xwttb" class="dh">星闻天天报</a>
		<a href="/xkdjt" class="dh">星空大讲堂</a>
		<a href="/zxfsy" class="dh">追星发烧友</a>
		<a href="/twhzy" class="dh">天文画中游</a>
		<a href="/lt" class="dh">论坛</a>
	
	   <div id="dhbotton">
		<input type="search" name="search" id="" value="在这里输入">&nbsp;<input type="button" id="" value="搜索"></div>
	</div><br><br>

<!--中间部分-->
<div id="divcenter3">
  <div id="divcenter-left3"><br>
	<p class="ii">39光年外新“超级地球”现身：或具备适宜温度和水</p><br>
	<p class="ll"><img src="./public/image/C11.jpg" width="630" height="472" alt=""/><br><a href="#">系外行星LHS 1140b艺术想象图：它有可能是天文学家们搜寻地外生命最佳的候选目的地之一</a></p><br>
	<p class="jj">新浪科技讯 北京时间4月21日消息，据国外媒体报道，近期科学家们发现在大约39光年外存在一个温度适宜，但质量稍大于地球的所谓“超级地球”，它围绕一颗质量比太阳稍小的恒星运行。这颗行星的直径大约是地球的1.4倍，但质量是地球的7倍，这一特点暗示其可能由岩石构成，并且有着很大的金属内核。</p>
	<p class="jj">这个超级地球编号LHS 1140b，它有可能是天文学家们搜寻地外生命最佳的候选目的地之一。取得这项发现的国际研究组成员谢韦尔·德尔福斯（Xavier Delfosse）和谢韦尔·波菲尔斯（Xavier Bonfils）对媒体表示：“LHS 1140行星系统的重要性有可能在未来会被证明甚至超过之前发现的比邻星附近的系外行星或者同样是在前不久宣布发现的TRAPPIST-1行星系统。”他们表示：“今年真是一个系外行星发现的大年。”</p>
	<p class="jj">研究组提出LHS 1140b的形成过程与方式可能是与地球相似的。研究人员提出，这个行星围绕运行的恒星质量比较小，并且距离地球又不太远，这就意味着地球上的望远镜将有很大机会能够分辨出其大气层的化学成分——如果它有大气层的话。</p>
	<p class="jj">LHS 1140b围绕一颗编号为LHS 1140的暗弱的红矮星运行，其位置刚好位于这颗红矮星周围的宜居带范围内。红矮星是一种质量很小，亮度很低的小型恒星，尽管这颗系外行星LHS 1140b距离恒星要比地球距离太阳近10倍，但它能接收到的光照强度大约只有地球的一半左右。</p>
	<p class="jj">这颗行星的位置刚好落在这颗恒星的宜居带内，这就意味着其有很大可能具备适宜的温度，从而允许液态水在其地表稳定存在，而这就给了科学家们关于生命的无尽想象。</p>
	<p class="ll"><img src="./public/image/C12.jpg" width="630" height="420" alt=""/></p><br>
	<p class="jj">相关论文的第一作者，美国哈佛-史密松天体物理中心的杰森·迪特曼（Jason Dittmann）表示：“这是过去十年间我见到的最让我感到兴奋的系外行星目标。”他说：“在面对人类历史上最为重要的问题——搜寻地球之外的生命之时，我们几乎很难想象还能找到比这更理想的目标了。”</p>
	<p class="jj">项目组成员，瑞士日内瓦天文台的尼古拉·阿斯涂迪罗-德福鲁（Nicola Astudillo-Defru）表示：“这颗红矮星当前的状态尤其令人满意 ——相比其他相似质量水平的恒星，恒星LHS 1140自转速度更慢，释放出的高能辐射也更少。”外星生命如果想要在这样一个星球上生存，那就不能离开液态水和大气层。</p>
	<p class="jj">当红矮星比较年轻时，它们会释放出非常强烈的高能辐射，这将摧毁围绕它们运行的行星大气层。而在这一案例中，这颗行星的巨大质量意味着它上面完全有可能存在一个巨大的海洋，并且这样一个海洋有可能可以稳定存在上百万年之久。</p><br>
	<p class="jj">在这样一个星球上，活跃的火山喷发等机制会向大气层内释放大量水汽成分，远在它的太阳将它地表原来存在的海洋烤干摧毁之前，就可以及时向地表补充水分，从而维持海洋的稳定存在。</p>
	<p class="jj">这项发现最初是由美国哈佛大学利用南美洲智利境内名为“MEarth”的8台自动望远镜观测完成的。MEarth是一个旨在搜寻系外行星的自动化望远镜系统，其主要做法是对距离较近范围内的低质量M型红矮星进行观测。当系外行星从恒星面前经过时，会造成恒星光芒的稍稍减弱，从而能够让科学家们推断行星的存在。</p>
	<p class="jj">在这一案例中，这颗系外行星的轨道面几乎正好侧面对着地球，大约每隔25天，这颗行星会从恒星面前经过，从而遮挡一部分恒星的光芒。全球各地的望远镜开展的后续观测将进一步帮助证实这颗行星的存在。</p>
	<p class="jj">在未来，借助美国宇航局的哈勃空间望远镜开展的精密观测将能够更加精准地评估系外行星LHS 1140b接收到高能辐射的量。和地球与太阳的关系一样，来自恒星的高能辐射强弱将最终决定行星的表面是否能够适宜生命在此繁衍生存。</p>	
</div>

  <div id="divcenter-right">
  <div id="divcenter-right1"><p class="biaoti">最新精选图集</p><a href="#" class="gengduo">>></a><br><br><p class="hr1"></p><a href="#"><img src="./public/image/xingyun.jpg" width="320" height="320" alt=""/></a></div>
  <div id="divcenter-right2"><p class="biaoti">论坛新贴</p><a href="#" class="gengduo">>></a><br><br><p class="hr1"></p></a>
  <li class="kk"><a href="#" class="kk">在山里3个月拍的深空>></a></li>
   <li class="kk"><a href="#" class="kk">肖特玻璃supermax33主镜>></a></li>
   <li class="kk"><a href="#" class="kk">信达ATP130、信达130EQ>></a></li>
    <li class="kk"><a href="#" class="kk">再见天宫一号>></a></li>
     <li class="kk"><a href="#" class="kk">NEQ6Pro>></a></li>
      <li class="kk"><a href="#" class="kk">下弦月，土星，双星>></a></li>
       <li class="kk"><a href="#" class="kk">昨晚观察天宫一号过境>></a></li>
        <li class="kk"><a href="#" class="kk">做接环-已重新画图>></a></li>
         <li class="kk"><a href="#" class="kk">想知道这块石头是什么>></a></li>
          <li class="kk"><a href="#" class="kk">追踪来自宇宙深处的“信使”>></a></li>
           <li class="kk"><a href="#" class="kk">2016-05-30火星 土星>></a></li>
  </div>
   </div>
  </div>
  <br><br>
<!--  底部-->
<p class="hr3"></p>
<div id="divbottom">版权所有 © xlind1220.com</div>


</body>
</html>
