<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>天文科普网</title>
<link href="./public/css/xwttb.css" rel="stylesheet">

</head>

<body>
<!--顶部-->
<table background="./public/image/tianwen_01.png" height="246" width="100%">
  <td id="ding1"><a href="/enroll" id="ding2">注册</a>&nbsp;&#124;&nbsp;<a href="/login" id="ding2">登录</a></td>
  </table>
  
  <!--导航-->
  <div id="divdh">
    <a href="/" class="dh">首页</a>
    <a href="/xwttb" class="dh">星闻天天报</a>
    <a href="/xkdjt" class="dh">星空大讲堂</a>
    <a href="/zxfsy" class="dh">追星发烧友</a>
    <a href="/twhzy" class="dh">天文画中游</a>
    <a href="/lt" class="dh">论坛</a>
  
     <div id="dhbotton">
      <input type="search" name="search" id="" value="在这里输入">&nbsp;<input type="button" id="" value="搜索"></div>
  </div>
<br><br>

<!--中间部分-->
<div id="divcenter4">
  <div id="divcenter-left4"><br>
	<p class="ii">哈勃观测近距离的木星</p><br>
	<p class="ll1"><a href="#">原文标题：Hubble takes close-up portrait of Jupiter</a></p>
	<p class="ll1"><a href="#">原文作者：Mathias Jäger</a></p>
	<p class="ll1"><a href="#">来自：欧洲哈勃信息中心； 发表时间：2017.4.6</a></p>
	<p class="ll1"><a href="#">翻译：gohomeman1  审校：数星星的猫（编译版权所有，未经许可请勿转载）</a></p><br>
	<p class="ll"><img src="./public/image/C21.jpg" width="600" height="600" alt=""/><br><a href="#">哈勃拍摄的木星。大图：1.3MB，版权：NASA、ESA；下同。</a></p><br>
	<p class="jj">本图由哈勃第三代广域相机（WFC3）的紫外光学通道（UVIS）拍摄，配色如下：395nm（纳米）的蓝紫光，配色蓝；502nm的蓝色电离氧线[OⅢ]，绿；631nm的红光，红。</p>
	<p class="jj">2017.4.7，木星抵达冲日点：它和太阳恰好位于地球的两侧，并且三者在同一直线上，地球处于太阳和木星的中间。</p>
	<p class="jj">木星冲日也是它离地球相对最近的时空点，此时相距约6.7亿千米（km），木星看起来比一年的其他时候都亮。天文学家利用此时段，动用太空和地基的望远镜，对木星大气进行详细观测。</p>
	<p class="jj">17.4.3，哈勃利用这个有利时机，把其锐利的鹰眼对准我们的最大邻居收集图像。此次使用的是第三代广域相机（WFC3），它同时可在紫外/光学通道（UVIS）和红外通道（IR）进行观测。最终的图像清晰显示了木星稠密大气中各种云层的细节特征。因为距离近，哈勃图像中的每个像素点，对应着大约130km的区域。</p>
	<p class="jj">木星大气顶可分为多个明显的、平行于赤道的彩色云带。它们由含量不同的冰冻氨（NH3）颗粒的不透明云层组成，其中亮带的颗粒含量比暗带高。颗粒含量不同的云带，被木星上的高速风驱动，风速可达650km/时（180m/s，想想木星的高速自转就能明白，译注）。</p>
	<p class="jj">木星大气中最引人注目的特征就是南半球的巨大逆时针反气旋——大红斑（反气旋指中心压力高于周围的气流漩涡，气体向外流散，译注）。大红斑足以容纳整个地球。然而，根据哈勃的最新图像，并比较此前的观测记录，这个巨型气旋至少已经持续收缩了150年（以前可放下3个地球，译注），收缩的原因迄今未知。因此哈勃将持续观测木星，希望帮助科学家解开该风暴之谜。</p>
	<p class="jj">继大红斑之后，我们能在南半球的更南的区域看到一个小得多的红色风暴，因为它的类似外形和明显逊色的体量，得名“小红斑”（Red Spot Junior）。</p>
	<p class="jj">对木星的观测是哈勃太阳系外层行星大气观测遗产项目（Outer Planet Atmospheres Legacy，缩写OPAL）的一部分，哈勃每年抽出一段时间对四大行星进行观测，存档数据。由此科学家能够建立一系列图像数据库，这不但有助于他们深刻了解太阳系气态巨行星的大气，还能帮助他们理解系外行星的大气。2014年，OPAL项目首先对天王星进行了观测，2015年分别研究了木星和海王星。2018起，该项目将观测土星。</p><br>
</div>

  <div id="divcenter-right">
  <div id="divcenter-right1"><p class="biaoti">最新精选图集</p><a href="#" class="gengduo">>></a><br><br><p class="hr1"></p><a href="#"><img src="./public/image/xingyun.jpg" width="320" height="320" alt=""/></a></div>
  <div id="divcenter-right2"><p class="biaoti">论坛新贴</p><a href="#" class="gengduo">>></a><br><br><p class="hr1"></p></a>
  <li class="kk"><a href="#" class="kk">在山里3个月拍的深空>></a></li>
   <li class="kk"><a href="#" class="kk">肖特玻璃supermax33主镜>></a></li>
   <li class="kk"><a href="#" class="kk">信达ATP130、信达130EQ>></a></li>
    <li class="kk"><a href="#" class="kk">再见天宫一号>></a></li>
     <li class="kk"><a href="#" class="kk">NEQ6Pro>></a></li>
      <li class="kk"><a href="#" class="kk">下弦月，土星，双星>></a></li>
       <li class="kk"><a href="#" class="kk">昨晚观察天宫一号过境>></a></li>
        <li class="kk"><a href="#" class="kk">做接环-已重新画图>></a></li>
         <li class="kk"><a href="#" class="kk">想知道这块石头是什么>></a></li>
          <li class="kk"><a href="#" class="kk">追踪来自宇宙深处的“信使”>></a></li>
           <li class="kk"><a href="#" class="kk">2016-05-30火星 土星>></a></li>
  </div>
   </div>
  </div>
  <br><br>
<!--  底部-->
<p class="hr3"></p>
<div id="divbottom">版权所有 © xlind1220.com</div>


</body>
</html>
