<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>天文科普网</title>
<link href="./public/css/xwttb.css" rel="stylesheet">

</head>

<body>
<!--顶部-->
<table background="./public/image/tianwen_01.png" height="246" width="100%">
  <td id="ding1"><a href="/enroll" id="ding2">注册</a>&nbsp;&#124;&nbsp;<a href="/login" id="ding2">登录</a></td>
  </table>

<!--导航-->
<div id="divdh">
	<a href="/" class="dh">首页</a>
	<a href="/xwttb" class="dh">星闻天天报</a>
	<a href="/xkdjt" class="dh">星空大讲堂</a>
	<a href="/zxfsy" class="dh">追星发烧友</a>
	<a href="/twhzy" class="dh">天文画中游</a>
	<a href="/lt" class="dh">论坛</a>
	<br>
   <div id="dhbotton">
    <input type="search" name="search" id="" value="在这里输入">&nbsp;<input type="button" id="" value="搜索"></div>
</div>
<br><br>
<!--最新讯息-->
<div id="divtop">
<div id="divtop1"><p class="biaoti">最新讯息</p><a href="#" class="gengduo">>></a><br></div>
<div id="divtop2">
<img src="./public/image/20.jpg" width="443" height="280" alt=""/>
<div id="divtop3"><br>
	<li><a href="#" class="cc">多波段的蟹状星云</a></li>
<p class="bb">&nbsp;&nbsp;&nbsp;蟹状星云又名M1，是著名的梅西耶彗星状天星表中的第一个天体，位<br>&nbsp;&nbsp;&nbsp;于金牛座。蟹状星云现在已知是一种超新星遗迹，也就是大质量...</p>
<li><a href="#" class="cc">带喷流的黑洞吸积</a></li>
<li><a href="#" class="cc">暗星云LDN1622和巴纳</a></li>
<li><a href="#" class="cc">海尔-波普彗星</a></li>
<li><a href="#" class="cc">猎户座大星云的中心</a></li>
</div>
</div></div>
<br>

<!--中间部分-->
<div id="divcenter2">
  <div id="divcenter-left2"><p class="biaoti">星空写真集</p><a href="#" class="gengduo">>></a><br><br><p class="hr1"></p><p class="hr222"></p><br>
<table>
<tr>
<td valign="middle"><a href="#"><img src="./public/image/31.jpg" width="183" height="138" alt=""/></a></td>
<td valign="middle">
<a href="#" class="gg">[05-24] 蛇夫座Ζ — 逃逸恒星</a>
<p class="hh">&nbsp;&nbsp;在这幅红外影像中，逃逸恒星蛇夫座Ζ产生了弧形的星际弓形波，好像船只驶过宇宙海洋一样。蓝色的蛇夫座Ζ是比太阳质量大约20倍的一颗恒星，正以每秒钟24公里的速度向左...</p><br></td></tr></table>
<hr>
<br>
<table>
<tr>
<td valign="middle"><a href="#"><img src="./public/image/32.jpg" width="182" height="140" alt=""/></a></td>
<td valign="middle">
<a href="#" class="gg">[05-23] 狮子座三重奏</a>
<p class="hh">&nbsp;&nbsp;作为狮子座三重奏的这三个巨大星系聚集在同一个视场中，很容易地分辨为NGC3628（左），M66（底部右侧）和M65（顶部）。它们都是旋涡星系，但是朝向看上去颇为不同，NGC3...</p><br></td></tr></table>
<hr>
<br>
<table>
<tr>
<td valign="middle"><a href="#"><img src="./public/image/33.jpg" width="184" height="141" alt=""/></a></td>
<td valign="middle">
<a href="#" class="gg">[05-20] 哈勃拍摄的锥状星云</a>
<p class="hh">&nbsp;&nbsp;恒星正在被称为锥状星云的巨大的尘埃柱中形成。恒星保育院中有许多圆锥、柱子和壮观的流动形状，原始气体和尘埃云受到来自新生恒星的高能星风的撞击...</p><br></td></tr></table>
<hr>
<br> 
<br>
<p class="biaoti">天文艺术馆</p><a href="#" class="gengduo">>></a><br><br><p class="hr1"></p><br>
<table>
<tr>
<td valign="middle"><a href="#"><img src="./public/image/34.jpg" width="184" height="138" alt=""/></a></td>
<td valign="middle">
<a href="#" class="gg">[11-06] 油画—昴</a>
<p class="hh">&nbsp;&nbsp;此图来自天之文论坛的Kauf坛主，用油画形式精心描绘了昴星团的传说故事—七姐妹下凡...</p><br></td></tr></table>
<hr>
<br>
<table>
<tr>
<td valign="middle"><a href="#"><img src="./public/image/35.jpg" width="184" height="137" alt=""/></a></td>
<td valign="middle">
<a href="#" class="gg">[05-11] 壁纸2—飞越太阳系</a>
<br></td></tr></table>
<hr>
<br>
<table>
<tr>
<td valign="middle"><a href="#"><img src="./public/image/36.jpg" width="185" height="139" alt=""/></a></td>
<td valign="middle">
<a href="#" class="gg">[01-11] 中国古代星座图</a>
<p class="hh">&nbsp;&nbsp;马王堆汉墓的日月图腾与中国古代三垣四象二十八宿图</p><br></td></tr></table>
<hr>
<br><br>
<p class="biaoti">星座传说苑</p><a href="#" class="gengduo">>></a><br><br><p class="hr1"></p><br>
<table>
<tr>
<td valign="middle"><a href="#"><img src="./public/image/37.jpg" width="183" height="142" alt=""/></a></td>
<td valign="middle">
<a href="#" class="gg">[01-11] 人马座的希腊神话</a>
<p class="hh">&nbsp;&nbsp;在遥远古希腊的大草原中，驰骋着一批半人半兽的族群，这是一个生性凶猛的族群。“半人半兽”代表着理性与非理性、人性与兽性间的矛盾挣扎，这就是“人马族”。</p><br></td></tr></table>
<hr><br>
<table>
<tr>
<td valign="middle"><a href="#"><img src="./public/image/38.jpg" width="183" height="141" alt=""/></a></td>
<td valign="middle">
<a href="#" class="gg">[01-10] 狮子座的希腊神话传</a>
<p class="hh">&nbsp;&nbsp;传说中的狮子原本位于希腊尼米安（Nimean）谷地，它在一次搏斗中被赫拉克勒斯杀死。海格列斯是天神宙斯的私生子，刚出生时，就遭到好嫉妒的天后赫拉的诅咒，因此一生要...</p><br></td></tr></table>
<hr><br>
<table>
<tr>
<td valign="middle"><a href="#"><img src="./public/image/39.jpg" width="185" height="141" alt=""/></a></td>
<td valign="middle">
<a href="#" class="gg">[01-10] 双子座的希腊神话传</a>
<p class="hh">&nbsp;&nbsp;双子座代表的是希腊神话中宙斯与斯巴达王后丽达（Leda）所生的孪生子卡斯托和普勒克斯。双子座α星（Castor）及β星（Pollux）就是以这对兄弟命名的</p><br></td></tr></table>

</div>
  <div id="divcenter-right">
  <div id="divcenter-right1"><p class="biaoti">最新精选图集</p><a href="#" class="gengduo">>></a><br><br><p class="hr1"></p><a href="#"><img src="./public/image/xingyun.jpg" width="320" height="320" alt=""/></a></div>
  <div id="divcenter-right2"><p class="biaoti">论坛新贴</p><a href="#" class="gengduo">>></a><br><br><p class="hr1"></p></a>
  <li class="kk"><a href="#" class="kk">在山里3个月拍的深空>></a></li>
   <li class="kk"><a href="#" class="kk">肖特玻璃supermax33主镜>></a></li>
   <li class="kk"><a href="#" class="kk">信达ATP130、信达130EQ>></a></li>
    <li class="kk"><a href="#" class="kk">再见天宫一号>></a></li>
     <li class="kk"><a href="#" class="kk">NEQ6Pro>></a></li>
      <li class="kk"><a href="#" class="kk">下弦月，土星，双星>></a></li>
       <li class="kk"><a href="#" class="kk">昨晚观察天宫一号过境>></a></li>
        <li class="kk"><a href="#" class="kk">做接环-已重新画图>></a></li>
         <li class="kk"><a href="#" class="kk">想知道这块石头是什么>></a></li>
          <li class="kk"><a href="#" class="kk">追踪来自宇宙深处的“信使”>></a></li>
           <li class="kk"><a href="#" class="kk">2016-05-30火星 土星>></a></li>
  </div>
   </div>
  </div>
  <br><br><br><br>
<!--  底部-->
<p class="hr3"></p>
<div id="divbottom">版权所有 © xlind1220.com</div>


</body>
</html>
