<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>天文科普网</title>
<link href="./public/css/xwttb.css" rel="stylesheet">

</head>

<body>
<!--顶部-->
<table background="./public/image/tianwen_01.png" height="246" width="100%">
  <td id="ding1"><a href="/enroll" id="ding2">注册</a>&nbsp;&#124;&nbsp;<a href="/login" id="ding2">登录</a></td>
  </table>

<!--导航-->
<div id="divdh">
	<a href="/" class="dh">首页</a>
	<a href="/xwttb" class="dh">星闻天天报</a>
	<a href="/xkdjt" class="dh">星空大讲堂</a>
	<a href="/zxfsy" class="dh">追星发烧友</a>
	<a href="/twhzy" class="dh">天文画中游</a>
	<a href="/lt" class="dh">论坛</a>
	<br>
   <div id="dhbotton">
    <input type="search" name="search" id="" value="在这里输入">&nbsp;<input type="button" id="" value="搜索"></div>
</div>
<br><br>
<!--最新讯息-->
<div id="divtop">
<div id="divtop1"><p class="biaoti">最新讯息</p><a href="#" class="gengduo">>></a><br></div>
<div id="divtop2">
<img src="./public/image/00.jpg" width="443" height="280" alt=""/>
<div id="divtop3"><br>
	<li><a href="#" class="cc">量子力学能证明物质决定意识吗？不能...</a></li>
<p class="bb">&nbsp;&nbsp;&nbsp;量子力学的世界很神奇，但还没神奇到支持意识决定，和灵魂存在。<br>&nbsp;&nbsp;&nbsp;我们生活的这个世界充满了奇迹，我们一生在小小的地球上...</p>
<li><a href="#" class="cc">[田言涛] 人体日晷</a></li>
<li><a href="#" class="cc">[TimeUrban] 外星文明都在哪？费米悖论告</a></li>
<li><a href="#" class="cc">[晨风] 宇宙是由什么物质组成的?</a></li>
<li><a href="#" class="cc">[刘嘉麒院士] 科普和科研创新同等重要</a></li>
</div>
</div></div>
<br>

<!--中间部分-->
<div id="divcenter1">
  <div id="divcenter-left1"><p class="biaoti">跟我学天文</p><a href="#" class="gengduo">>></a><br><br><p class="hr1"></p><p class="hr22"></p><br>
	  <li><a href="#" class="gg">六、太阳活动对地球</a></li>
<p class="ff">&nbsp;&nbsp;&nbsp;如今，太阳活动和一些地球物理现象之间的关系研究，已形成一门生气勃勃的地球物理..</p><br>
<hr>
<li><a href="#" class="gg">五、日（月）食</a></li>
<p class="ff">&nbsp;&nbsp;晴朗的白天，耀眼的太阳突然被一个黑影遮住了一部分，黑影逐渐扩大，甚至把整个日..</p><br>
<hr>
<li><a href="#" class="gg">四. 太阳的其它活动</a></li>
<p class="ff">&nbsp;&nbsp;除太阳黑子以外，太阳大气中还存在着丰富多彩的其它活动现象，有些大规模的剧烈活..</p><br>
<hr>
<li><a href="#" class="gg">三、太阳黑子</a></li>
<p class="ff">&nbsp;&nbsp;我们的太阳其实只是看起来宁静，而实际上却时时刻刻都存在着各种剧烈活动，太阳黑..</p><br>
<hr>
<li><a href="#" class="gg">一、揭开银河真面目</a></li>
<p class="ff">&nbsp;&nbsp;发现银河系一条淡银色的模糊光带在夏日缀满灿烂星斗的夜幕上横空..</p><br>
<hr><br><br>
<p class="biaoti">天文科普作品</p><a href="#" class="gengduo">>></a><br><br><p class="hr1"></p><br>
<table>
<tr>
<td valign="middle"><a href="#"><img src="./public/image/01.jpg" width="185" height="139" alt=""/></a></td>
<td valign="middle">
<a href="#" class="gg">[03-02] [科学画报] 欧洲将建世界上最大望远镜</a>
<p class="hh">&nbsp;&nbsp;你知道世界上最大的望远镜有多大吗？它是安装在美国夏威夷的凯克天文望远镜，其口径为10米。然而，欧洲南方天文台的研究人员宣布，他们将建造比凯克天文望远镜大很多的..</p><br></td></tr></table>
<hr>
<br>
<table>
<tr>
<td valign="middle"><a href="#"><img src="./public/image/02.jpg" width="185" height="141" alt=""/></a></td>
<td valign="middle">
<a href="#" class="gg">[12-28] [少年报] 佘山探天行</a>
<p class="hh">&nbsp;&nbsp;2009年是“国际天文年”，在天文年的尾巴上，少年报社少儿新闻培训营四年级的学员们来到位于佘山的上海天文博物馆，进行了一场天文探索...</p><br></td></tr></table>
<hr>
<br><br>
<p class="biaoti">天文书籍推荐</p><a href="#" class="gengduo">>></a><br><br><p class="hr1"></p><br>
<table>
<tr>
<td valign="middle"><a href="#"><img src="./public/image/03.jpg" width="186" height="143" alt=""/></a></td>
<td valign="middle">
<a href="#" class="gg">[10-14] 尤利西斯飞越太阳北极</a>
<p class="hh">&nbsp;&nbsp;原文标题：UlyssesFlybyoftheSun'sNorthPole<br>&nbsp;&nbsp;作者：Dr.TonyPhillips<br>&nbsp;&nbsp;原文来自：http://science.nasa.gov/Posted:2007.1.14<br>&nbsp;&nbsp;编译：Melipal审校：Linq</p><br></td></tr></table>
<hr><br>
<table>
<tr>
<td valign="middle"><a href="#"><img src="./public/image/04.jpg" width="185" height="143" alt=""/></a></td>
<td valign="middle">
<a href="#" class="gg">[10-14] 太阳黑子预示新的太阳周</a>
<p class="hh">&nbsp;&nbsp;原文标题：Sunspotisharbingerofthenewsolarcycle<br>&nbsp;&nbsp;原文来自：SpaceflightNowPosted:2008.1.7<br>&nbsp;&nbsp;编译：Melipal审校：Linq</p><br></td></tr></table>

</div>
  <div id="divcenter-right">
  <div id="divcenter-right1"><p class="biaoti">最新精选图集</p><a href="#" class="gengduo">>></a><br><br><p class="hr1"></p><a href="#"><img src="./public/image/xingyun.jpg" width="320" height="320" alt=""/></a></div>
  <div id="divcenter-right2"><p class="biaoti">论坛新贴</p><a href="#" class="gengduo">>></a><br><br><p class="hr1"></p></a>
  <li class="kk"><a href="#" class="kk">在山里3个月拍的深空>></a></li>
   <li class="kk"><a href="#" class="kk">肖特玻璃supermax33主镜>></a></li>
   <li class="kk"><a href="#" class="kk">信达ATP130、信达130EQ>></a></li>
    <li class="kk"><a href="#" class="kk">再见天宫一号>></a></li>
     <li class="kk"><a href="#" class="kk">NEQ6Pro>></a></li>
      <li class="kk"><a href="#" class="kk">下弦月，土星，双星>></a></li>
       <li class="kk"><a href="#" class="kk">昨晚观察天宫一号过境>></a></li>
        <li class="kk"><a href="#" class="kk">做接环-已重新画图>></a></li>
         <li class="kk"><a href="#" class="kk">想知道这块石头是什么>></a></li>
          <li class="kk"><a href="#" class="kk">追踪来自宇宙深处的“信使”>></a></li>
           <li class="kk"><a href="#" class="kk">2016-05-30火星 土星>></a></li>
  </div>
   </div>
  </div>
  <br><br><br><br>
<!--  底部-->
<p class="hr3"></p>
<div id="divbottom">版权所有 © xlind1220.com</div>


</body>
</html>
