<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>天文科普网</title>
<link href="./public/css/xwttb.css" rel="stylesheet">

</head>

<body>
<!--顶部-->
<table background="./public/image/tianwen_01.png" height="246" width="100%">
  <td id="ding1"><a href="/enroll" id="ding2">注册</a>&nbsp;&#124;&nbsp;<a href="/login" id="ding2">登录</a></td>
  </table>

<!--导航-->
<div id="divdh">
	<a href="/" class="dh">首页</a>
	<a href="/xwttb" class="dh">星闻天天报</a>
	<a href="/xkdjt" class="dh">星空大讲堂</a>
	<a href="/zxfsy" class="dh">追星发烧友</a>
	<a href="/twhzy" class="dh">天文画中游</a>
	<a href="/lt" class="dh">论坛</a>

   <div id="dhbotton">
    <input type="search" name="search" id="" value="在这里输入">&nbsp;<input type="button" id="" value="搜索"></div>
</div>
<br><br>
<!--最新讯息-->
<div id="divtop">
<div id="divtop1"><p class="biaoti">最新讯息</p><a href="#" class="gengduo">>></a><br></div>
<div id="divtop2">
<img src="./public/image/111.jpg" width="443" height="281" alt=""/>
<div id="divtop3"><br>
	<li><a href="#" class="cc">在南美天文之都里徜徉</a></li>
<p class="bb">&nbsp;&nbsp;&nbsp;到2020年，预计全球3/4的大型望远镜都会集中到这一“世界天文之<br>&nbsp;&nbsp;&nbsp;都”来。其中包括一座正在规划中的中智共同开发建设的天文观测...</p>
<li><a href="#" class="cc">SpaceX公司计划2020年发射红龙号太空船登陆火星</a></li>
<li><a href="#" class="cc">美国宇航局拟定月球基地任务为登陆火星做准备</a></li>
<li><a href="#" class="cc">哈勃科学前沿场的最前沿(go)</a></li>
<li><a href="#" class="cc">NASA公布载人登陆火星计划：宇航员重返月球1年</a></li>
</div>
</div></div>
<br>

<!--中间部分-->
<div id="divcenter">
  <div id="divcenter-left"><p class="biaoti">天文科研动态</p><a href="#" class="gengduo">>></a><br><br><p class="hr1"></p><p class="hr2"></p><br>
	  <li><a href="#" class="gg">[北京] 视界面望远镜与首张黑洞照片</a></li>
<p class="ff">&nbsp;&nbsp;&nbsp;科学家们将用一年左右的时间分析相关数据，预计2018年黑洞会首次向人类露出“真容”。</p><br>
<hr>
<li><a href="#" class="gg">[乌鲁木齐] 脉冲星和快速射电暴距离研究获进展</a></li>
<p class="ff">&nbsp;&nbsp;中国科学院新疆天文台博士生姚菊枚构建了新的电子密度模型（YMW16）。今后具有测量距离的脉冲星数目的增加、更准确的银河系结构...</p><br>
<hr>
<li><a href="#" class="gg">[上海] 上海天文台利用VLBI揭秘早期宇宙中的类星体</a></li>
<p class="ff">&nbsp;&nbsp;上海天文台科研团队在对超高红移类星体的调研中，发现一颗距离我们遥远而且在射电波段明亮的耀变体，距离地球约有110亿光年...</p><br>
<hr>
<li><a href="#" class="gg">[北京] 国家天文台旋涡星系初始质量函数研究获进展</a></li>
<p class="ff">&nbsp;&nbsp;中国科学院国家天文台研究人员最近利用世界最大积分场巡天数据首次观测到旋涡星系中恒星初始质量函数的变化。</p><br>
<hr>
<li><a href="#" class="gg">[北京] 科学家通过南极巡天望远镜AST3-1数据发现新变源</a></li>
<p class="ff">&nbsp;&nbsp;国家天文台通过分析南极巡天望远镜AST3-1近期巡天获得的一个天区8天的测光数据，探测到560颗变源，新发现变源339颗。</p><br>
<hr><br><br>
<p class="biaoti">科普活动</p><a href="#" class="gengduo">>></a><br><br><p class="hr1"></p><br>
<table>
<tr>
<td valign="middle"><a href="#"><img src="./public/image/1.jpg" width="182" height="141" alt=""/></a></td>
<td valign="middle">
<a href="#" class="gg">[03-23] [西安] 中科院天文科</a>
<p class="hh">&nbsp;&nbsp;2017年3月15日至17日，中国科学院天文科普联盟2017年度第一次工作会议在西安临潼举行。会议由天文科普联盟委员会刘晓群主任主持，中国科学院科学传播局周德进局长及联盟...</p><br></td></tr></table>
<hr>
<br>
<table>
<tr>
<td valign="middle"><a href="#"><img src="./public/image/2.jpg" width="187" height="139" alt=""/></a></td>
<td valign="middle">
<a href="#" class="gg">[03-05] [上海]上海天文台助</a>
<p class="hh">&nbsp;&nbsp;上海天文台助力高中生科创梦想起飞——上海天文台实践工作站在四个实践点顺利开展第一单元研究课程...</p><br></td></tr></table>
<hr>
<br>
<table>
<tr>
<td valign="middle"><a href="#"><img src="./public/image/3.jpg" width="187" height="142" alt=""/></a></td>
<td valign="middle">
<a href="#" class="gg">[01-22] [长春]长春人卫站举</a>
<p class="hh">&nbsp;&nbsp;1月20日，长春省二实验由老师家长带队30多人来我站进行冬令营活动。由科普负责人李振军老师为学生们系统介绍了长春人卫站发展史、承担的科研任务以及天文方面所取得的成就...</p><br></td></tr></table>


</div>
  <div id="divcenter-right">
  <div id="divcenter-right1"><p class="biaoti">最新精选图集</p><a href="#" class="gengduo">>></a><br><br><p class="hr1"></p><a href="#"><img src="./public/image/xingyun.jpg" width="320" height="320" alt=""/></a></div>
  <div id="divcenter-right2"><p class="biaoti">论坛新贴</p><a href="#" class="gengduo">>></a><br><br><p class="hr1"></p></a>
  <li class="kk"><a href="#" class="kk">在山里3个月拍的深空>></a></li>
   <li class="kk"><a href="#" class="kk">肖特玻璃supermax33主镜>></a></li>
   <li class="kk"><a href="#" class="kk">信达ATP130、信达130EQ>></a></li>
    <li class="kk"><a href="#" class="kk">再见天宫一号>></a></li>
     <li class="kk"><a href="#" class="kk">NEQ6Pro>></a></li>
      <li class="kk"><a href="#" class="kk">下弦月，土星，双星>></a></li>
       <li class="kk"><a href="#" class="kk">昨晚观察天宫一号过境>></a></li>
        <li class="kk"><a href="#" class="kk">做接环-已重新画图>></a></li>
         <li class="kk"><a href="#" class="kk">想知道这块石头是什么>></a></li>
          <li class="kk"><a href="#" class="kk">追踪来自宇宙深处的“信使”>></a></li>
           <li class="kk"><a href="#" class="kk">2016-05-30火星 土星>></a></li>
  </div>
   </div>
  </div>
  <br><br><br><br><br>
<!--  底部-->
<p class="hr3"></p>
<div id="divbottom">版权所有 © xlind1220.com</div>


</body>
</html>
