<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>天文科普网</title>
<link href="./public/css/luntan.css" rel="stylesheet">
</head>

<body>
<!--顶部-->
<table background="./public/image/tianwen_01.png" height="246" width="100%">
	<td id="ding1"><a href="/enroll" id="ding2">注册</a>&nbsp;&#124;&nbsp;<a href="/login" id="ding2">登录</a></td>
	</table>

<!--导航-->
<div id="divdh">
	<a href="/" class="dh">首页</a>
	<a href="/xwttb" class="dh">星闻天天报</a>
	<a href="/xkdjt" class="dh">星空大讲堂</a>
	<a href="/zxfsy" class="dh">追星发烧友</a>
	<a href="/twhzy" class="dh">天文画中游</a>
	<a href="/lt" class="dh">论坛</a>
	<br>
   <div id="dhbotton">
    <input type="search" name="search" id="" value="在这里输入">&nbsp;<input type="button" id="" value="搜索"></div>
</div>
<br><br>
<div id="layout">
	<div id="divleft">
<table>
<tr>
<td><a href="#"><img src="./public/image/40.jpg" width="180" height="180" alt=""/></a></td></tr>
<tr>
<td><a href="#">&nbsp;&nbsp;编辑个人资料</a><br><br><p class="aa">昵称：X_Xu铃铛<br>地区：广东<br>星座：射手座<br>签名：No pains,no gain.</p></td>
</tr></table>	
	</div>
<div id="divright">
<div id="div1">
<br><br>
<label>
	<textarea name="text" rows="5" cols="100">在此输入...</textarea>
	<input class="bb" type="button" name="publish" id="publish" value="发表">
	</label>
</div>
<div id="div2">
<hr>
<table>
<tr>
<td valign="middle"><a href="#"><img src="./public/image/41.jpg" width="150" height="100" alt=""/></a></td>
<td valign="middle">
<a href="#" class="gg">【虚心求问】 04-06宇宙的最终命运到底是什么？</a>
<p class="hh">&nbsp;&nbsp;科学家的宇宙的归宿的观点有很多种，但是共同点就是个死，看来人类就算科学再发达...</p><br><p class="ee">阅读量172&nbsp;回复量20</p></td>
</tr></table>
<hr>
<table>
<td valign="middle">
<a href="#" class="gg">一个天文问题</a>
<p class="hh">&nbsp;&nbsp;地球有光速飞船，离地球一光年的地方有一颗行星。2017年4月飞船在地球A处开始奔向(或者发射？)行星...</p><br><p class="ee">阅读量125&nbsp;回复量66</p>
</td></table>
<hr>
<table>
<td valign="middle">
<a href="#" class="gg">【想象】想象一下，2亿年后的人类会怎么样</a>
<p class="hh">&nbsp;&nbsp;如果人类还有2亿年的发展机会，想象一下到时候人类会怎样？分析一下，我们估计一下人类的发展速度。1百万年前人类刚刚有火，直到4千年前，人类进入了文明阶段...</p><br><p class="ee">阅读量125&nbsp;回复量66</p>
</td></table>
<hr>
<table>
<tr>
<td valign="middle"><a href="#"><img src="./public/image/luntan1.jpg" width="150" height="100" alt=""/></a></td>
<td valign="middle" class="dd">
<a href="#" class="gg">【虚心求问】宇宙飞船在旅行中是否需要一直向后方喷射推进？</a>
<p class="hh">&nbsp;&nbsp;科幻电影里的飞船不管是正常飞行还是空间跃迁，引擎都是一直向后方喷射，毕竟电影嘛也许这是为了视觉上好看，但是讲真...</p><br><p class="ee">阅读量665&nbsp;回复量442</p></td>
</tr></table>
<hr>
<table>
<tr>
<td valign="middle"><a href="#"><img src="./public/image/43.jpg" width="150" height="100" alt=""/></a></td>
<td valign="middle" class="dd">
<a href="#" class="gg">宇宙中一些特别的天体</a>
<p class="hh">&nbsp;&nbsp;正在爆发的鲸鱼座UV、黑寡妇脉冲星、海山二星云、双脉冲星、参宿七、猎户座大星云中的原恒星...</p><br><p class="ee">阅读量336&nbsp;回复量207</p></td>
</tr></table>
<hr>
<div id="div3">
	<a href="#">1</a>
	<a href="#">2</a>
	<a href="#">3</a>
	<a href="#">...</a>
	<a href="#">上一页</a>
	<a href="#">下一页</a>
	<a href="#">尾页</a>
 	<br>	
</div>
</div>
</div>
</div>
<!--  底部-->
<p class="hr3"></p>
<div id="divbottom">版权所有 © xlind1220.com</div>
</body>
</html>
