<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>天文科普网</title>
<link href="./public/css/xwttb.css" rel="stylesheet">

</head>

<body>
<!--顶部-->
<table background="./public/image/tianwen_01.png" height="246" width="100%">
  <td id="ding1"><a href="/enroll" id="ding2">注册</a>&nbsp;&#124;&nbsp;<a href="/login" id="ding2">登录</a></td>
  </table>

<!--导航-->
<div id="divdh">
	<a href="/" class="dh">首页</a>
	<a href="/xwttb" class="dh">星闻天天报</a>
	<a href="/xkdjt" class="dh">星空大讲堂</a>
	<a href="/zxfsy" class="dh">追星发烧友</a>
	<a href="/twhzy" class="dh">天文画中游</a>
	<a href="/lt" class="dh">论坛</a>
	<br>
   <div id="dhbotton">
    <input type="search" name="search" id="" value="在这里输入">&nbsp;<input type="button" id="" value="搜索"></div>
</div>
<br><br>
<!--最新讯息-->
<div id="divtop">
<div id="divtop1"><p class="biaoti">最新讯息</p><a href="#" class="gengduo">>></a><br></div>
<div id="divtop2">
<img src="./public/image/1111.jpg" width="443" height="280" alt=""/>
<div id="divtop3"><br>
	<li><a href="#" class="cc">太阳或月面拼图拍摄及图像处理流程</a></li>
<p class="bb">&nbsp;&nbsp;&nbsp;月亮及太阳是在太阳系中视面积最大的天体,若为了拍得整个月/日而<br>&nbsp;&nbsp;&nbsp;缩短焦距,表面细节便无法在呈现;若增加了焦距把影像放大,虽然...</p>
<li><a href="#" class="cc">天文观测—新手入门之乱弹</a></li>
<li><a href="#" class="cc">都市看星空——城市中的深空观</a></li>
<li><a href="#" class="cc">天文望远镜的光学系统</a></li>
<li><a href="#" class="cc">伊朗摄影师16年间拍摄的绝美星</a></li>
</div>
</div></div>
<br>

<!--中间部分-->
<div id="divcenter">
  <div id="divcenter-left"><p class="biaoti">观测摄影交流</p><a href="#" class="gengduo">>></a><br><br><p class="hr1"></p><p class="hr2"></p><br>
	  <li><a href="#" class="gg">[04-13] 太阳或月面拼图拍摄</a></li>
<p class="ff">&nbsp;&nbsp;&nbsp;月亮及太阳是在太阳系中视面积最大的天体,若为了拍得整个月/日而缩短焦距,表面细节便无法在呈现;若增加了焦距把影像放大,虽然得到了丰富的细节,但却没法拍得整个表面...</p><br>
<hr>
<li><a href="#" class="gg">[03-02] 天文观测—新手入门</a></li>
<p class="ff">&nbsp;&nbsp;开始玩天文1年多，期间入手镜子不少，常和深圳一群兄弟美女一起High。现在也成了老手了，总是有人问入门我买啥镜子，就在这里做个整理吧...</p><br>
<hr>
<li><a href="#" class="gg">[03-01] 都市看星空——城市</a></li>
<p class="ff">&nbsp;&nbsp;这篇文章原本发表在《天文爱好者》,都市观星这个念头始于2009年初，当时在广州市区成功观测了鹿林彗星后，觉得在市区观测还有一些作为。另外，台湾资深天...</p><br>
<hr>
<li><a href="#" class="gg">[01-26] 巧用双筒望远镜看太阳</a></li>
<p class="ff">&nbsp;&nbsp;去年日全食。上海电视台的朋友送我两付巴德膜观看镜。结果上海大雨没看成。郁闷到现在。两付眼镜就被打入抽屉。日前又遇偏食。想到终于可利用一下。在日食前两天试看时...</p><br>
<hr>
<li><a href="#" class="gg">[12-11] 少年时的观测记录</a></li>
<p class="ff">&nbsp;&nbsp;时间真快，1985年11月18日，那一年我13岁，当天从报纸上得知著名的哈雷彗星正在接近地球，年少无知的我拿起儿童双筒望远镜就下楼去寻找哈雷彗星...</p><br>
<hr><br><br>
<p class="biaoti">追星成就展示</p><a href="#" class="gengduo">>></a><br><br><p class="hr1"></p><br>
<table>
<tr>
<td valign="middle"><a href="#"></a><img src="./public/image/12.jpg" width="186" height="139" alt=""/></td>
<td valign="middle">
<a href="#" class="gg">[01-05] 伊朗摄影师16年间拍</a>
<p class="hh">&nbsp;&nbsp;每当看到夜空中闪闪发光的星星，我们总会忍不住凝视很久。现年34岁的伊朗摄影记者鲍巴克(BabakTafreshi)在过去16年里游览了世界各地，从伊朗到挪威、尼泊尔等，甚至包括...</p><br></td></tr></table>
<hr>
<br>
<table>
<tr>
<td valign="middle"><a href="#"><img src="./public/image/13.jpg" width="183" height="139" alt=""/></a></td>
<td valign="middle">
<a href="#" class="gg">[11-22]月亮与木星</a>
<p class="hh">&nbsp;&nbsp;月亮與木星流跡</p><br></td></tr></table>
<hr>
<br>
<table>
<tr>
<td valign="middle"><a href="#"><img src="./public/image/14.jpg" width="184" height="140" alt=""/></a></td>
<td valign="middle">
<a href="#" class="gg">[01-14]高清月面</a>
<p class="hh">&nbsp;&nbsp;昨夜和今晨冒着零下低温拍的高清月面，视宁度非常好，就是太冷了，拍到最后手都麻木了。
看了下eq6pro手控器上的温度显示，才报1.6°，实际应该远低于这...</p><br></td></tr></table>

</div>
  <div id="divcenter-right">
  <div id="divcenter-right1"><p class="biaoti">最新精选图集</p><a href="#" class="gengduo">>></a><br><br><p class="hr1"></p><a href="#"><img src="./public/image/xingyun.jpg" width="320" height="320" alt=""/></a></div>
  <div id="divcenter-right2"><p class="biaoti">论坛新贴</p><a href="#" class="gengduo">>></a><br><br><p class="hr1"></p></a>
  <li class="kk"><a href="#" class="kk">在山里3个月拍的深空>></a></li>
   <li class="kk"><a href="#" class="kk">肖特玻璃supermax33主镜>></a></li>
   <li class="kk"><a href="#" class="kk">信达ATP130、信达130EQ>></a></li>
    <li class="kk"><a href="#" class="kk">再见天宫一号>></a></li>
     <li class="kk"><a href="#" class="kk">NEQ6Pro>></a></li>
      <li class="kk"><a href="#" class="kk">下弦月，土星，双星>></a></li>
       <li class="kk"><a href="#" class="kk">昨晚观察天宫一号过境>></a></li>
        <li class="kk"><a href="#" class="kk">做接环-已重新画图>></a></li>
         <li class="kk"><a href="#" class="kk">想知道这块石头是什么>></a></li>
          <li class="kk"><a href="#" class="kk">追踪来自宇宙深处的“信使”>></a></li>
           <li class="kk"><a href="#" class="kk">2016-05-30火星 土星>></a></li>
  </div>
   </div>
  </div>
  <br><br><br><br>
<!--  底部-->
<p class="hr3"></p>
<div id="divbottom">版权所有 © xlind1220.com</div>


</body>
</html>
